
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #404b5b;
    color: white;
    
}
#mainTitleContainer{
    margin: auto;
    width: 50%;
    border: 5px solid black;
    border-left: 5px solid #ad4848;
    border-right: 5px solid #baba43;
    border-bottom: 5px solid #49b243;
    border-top: 5px solid #8e42b2;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 30px 10px #5b6a7f;
    margin-bottom: 50px;
}
#mainTitle{
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    text-shadow: 4px 4px  black;
    
}
#mainTitle::selection{
    background-color: transparent;
}
#strong1{
    color: #ad4848;
}
#strong1::selection{
    color: #cccccc;
}
#strong2{
    color: #baba43;
}
#strong2::selection{
    color: silver;
}
#strong3{
    color: #49b243;
}
#strong3::selection{
    color:rgb(165, 165, 165) ;
}


#mainContainer{
    display: flex;
    width: 20%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:2px solid black;
    padding: 30px;
    
}

.mainButton{
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    font-weight: bold;
    color: #e5e5e5  ;
    width: 600px;
    text-align: center;
    font-family: Impact;
    font-family: 'Yaldevi', sans-serif;
    text-decoration:none;
}

.mainButton:hover{
    background-color: #313a47;
}

.mainButton:active{
    background-color: transparent;
}

