@font-face {
    font-family: spotify-circular;
    src: url(./fonts/CircularSpUIv3T-Black.ttf);
}

body{
    font-family: spotify-circular;
    background-color: #404b5b;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}


#container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-content: center;
    gap: 10px;
    
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
}
#behindContainerInfo{
    display:grid;
    flex-wrap: wrap;
    justify-items: center;
    align-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transform: rotateY(180deg); 
    background-color: #516582;
    padding: 13px;
    border-radius: 10px;
    overflow: hidden;
}
#levelInfoComplement{
    color: #24c912;
    margin-top: -50px;
    position: relative;
    
}
#levelInfo{
    position: relative;
}
#attemptsInfo{
    position: relative;
    font-size: 32px;
}
.animatedInfo{
    transition-property: left,opacity;
    transition-duration: 1s,0.7s;
    transition-timing-function: ease-in-out;
    position: relative;
}
#timeInfo{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.5s;
}
#endLevelButton2{
    margin-top:0px;
    width: 90%;
    transition-property: left,opacity;
    transition-duration: 1s,0.7s;
    transition-timing-function: ease-in-out;
    position: relative;
}
#mainContainer{
    position: absolute;
    transition: transform 2s; 
    transform-style: preserve-3d;
    color: white;
    font-size: 24px;
    
}
#container,#behindContainerInfo{
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.card{
    width: 130px;
    height: 130px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;

}       
.cardContentBack,.cardContentFront{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(204, 204, 204, 0.3);
    backface-visibility: hidden;
}
.cardContentFront{
    background-color: #0F1621;
    transform: rotateY(180deg);    
}
.flip{
    transform: rotateY(180deg);
}
.cardContentBack{
    background-color: #00A2FF;
    color: black;
    /* font-size: 30px; */
    font-size: 3vmin;
}


.gameMessageScreen{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}




.endLevelButton{
    padding: 20px 40px 20px 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0px;
    background-color: #ffea4f;
    min-width: 300px;
    border-radius: 10px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    transition:background-color;
    transition-duration: 0.5s;
}
.endLevelButton:hover{
    background-color: #b4a531;
}

#infoContainer{
    margin:auto;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #222d3d;
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition-property: opacity;
    transition-duration: 1.3s;
}
h1{
    margin: 10px;
}
img{
    width: 96px;
}

#restartLevelButtonMainScreen{
    position: absolute;
    right: 5px; 
    z-index: -1px;
}

#restartGameButton{
    background-color: #e85151;
}

#restartGameButton:hover{
    background-color: #a53333;
}

#warningTitle{
    color: #e85151;
}

@media screen and (min-width: 0px) and (max-width:1860px) {
    #restartLevelButtonMainScreen{
        position: relative;
        left: 50%;
        margin-bottom: 10px;
        transform: translate(-50%);
        font-size: 3vmin;
    }
    #infoContainer{
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 2vmin;
        padding: 5px;
    }
    .card{
        width: 12vmin; 
        height: 12vmin;
    }
    img{
        width: 8.88vmin;
    }
}

